.key {
   width: 100px;
   height: 100px;
   border: 2px;
   background: grey;
 }
 .kas{
  width:100px;
  height: 100px;
  border: 2px;
  background:gray ;
  
}
 .kar {
   width: 100px;
   height: 100px;
   border: 2px;
   background: grey;
 }
 .she{
  width:100px;
  height: 100px;
  border: 2px;
  background:gray ;
  
}
